*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.aa>nav{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: wheat;
    border: 2px;
    height: 80px;
    width: 100%;
    gap: 50px;
}
.aa>nav>ul{
    display: flex;
    
}